*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main-image{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: -12px;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color : #0c31ea;
    color: white;
    border-radius: 10px;

    font-style: normal;
    font-weight: bold;
}
.btn1:hover{
    background-color : white;
    color: #0c31ea;
    border: 2px solid #0c31ea;
}
.pt-5{
    padding-left: 500px;
}
.col-lg-5{
    width: 50%;
}